<AppStateProvider>
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			@if (routeData.PageType == typeof(Pages.Login))
			{
				<RouteView RouteData="@routeData" />
			}
			else
			{
				<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
				<FocusOnNavigate RouteData="@routeData" Selector="h1" />
			}
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</AppStateProvider>
